@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}

.block-left{
    width: 370px;;
    height:1319px;
    overflow:auto;
    float:left;
    left: 40px;
    top: 40px;
    background: #1E2939;

}

.block-right{
    width: 1200px;
    overflow:auto;
    left: 40px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.resum-people{
    position: absolute;
    width: 60px;
    height: 354px;
    left:8px;
    top: 80px;
}

.contact{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 49px;
    margin-left: 40px;
    color: #FFFFFF;
}

.contact-e{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-top: 11px;
    margin-left:40px;
    color: #FFFFFF;
 }

 .contact-c{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-top: 11px;
    margin-left:40px;
    color: #FFFFFF;
}
        
.phone-info{
    position: absolute;
    width: 157px;
    left: 69px;
    top: 456px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
    text-decoration: none !important;
    border: none !important; 
}

.email-info{
    position: absolute;
    width: 157px;
    left: 69px;
    top: 494px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}

.skills{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 640px;
    margin-left: 40px;
    color: #FFFFFF;
}

.bulleted-list {
    position: absolute;
    width: 72px;
    height: 168px;
    left: 23px;
    top: 680px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.point-orange::marker {
    color: #FB6D3A;
    font-size: 14px;
    line-height: 24px;
}

.softSkills{
    position: absolute;
    font-weight: 700;
    width: 113px;
    margin-left: 40px;
    top: 880px;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.bulleted-soft-list{
    position: absolute;
    width: 72px;
    height: 168px;
    left: 23px;
    top: 930px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.works-in{
    position: absolute;
    width: 153px;
    height: 17px;
    left: 498px;
    top: 142px;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.name{
    position: absolute;
    width: 342px;
    height: 50px;
    left: 498px;
    top: 160px;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}

.main-info{
    position: absolute;
    width: 400px;
    height: 120px;
    left: 498px;
    top: 265px;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 40px;
}

.proj{
    position: absolute;
    width: 95px;
    height: 27px;
    left: 498px;
    top: 412px;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.proj-title{
    
}
.proj-item{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.project{
    position: absolute;
    width: 400px;
    height: 120px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.project-link{
    text-decoration: none;
    color:#000000
}
.project-braket{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000;   
}
.main-project{
    padding: 0;
    margin-left: 15px;
}
.project-link{
    margin-left: 10px;
}