@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

.block-left{
    width: 370px;;
    height:1319px;
    overflow:auto;
    float:left;
    left: 40px;
    top: 40px;
    background: #1E2939;

}

.block-right{
    width: 1200px;
    overflow:auto;
    left: 40px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.resum-people{
    position: absolute;
    width: 60px;
    height: 354px;
    left:8px;
    top: 80px;
}

.contact{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 49px;
    margin-left: 40px;
    color: #FFFFFF;
}
.contact-e{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-top: 11px;
    margin-left:40px;
    color: #FFFFFF;
 }
 .contact-c{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-top: 11px;
    margin-left:40px;
    color: #FFFFFF;
    }
        
.phone-info{
    position: absolute;
    width: 157px;
    left: 69px;
    top: 456px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
    text-decoration: none !important;
    border: none !important; 
}

.email-info{
    position: absolute;
    width: 157px;
    left: 69px;
    top: 494px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}

.skills{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 640px;
    margin-left: 40px;
    color: #FFFFFF;
}

.bulleted-list {
    position: absolute;
    width: 72px;
    height: 168px;
    left: 23px;
    top: 680px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.point-orange::marker {
    color: #FB6D3A;
    font-size: 14px;
    line-height: 24px;
}


.softSkills{
    position: absolute;
    font-weight: 700;
    width: 113px;
    margin-left: 40px;
    top: 862px;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}
.bulleted-soft-list{
    position: absolute;
    width: 72px;
    height: 168px;
    left: 23px;
    top: 910px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}